@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  background: #fff;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #ff5f23;
}

@layer components {
  .padding {
    @apply p-12 md:px-24 md:py-20 lg:px-20 lg:py-28;
  }
}

@layer components {
  .about-padding {
    @apply py-6 pl-12;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ff5f23;
  right: 10px;
  padding: 35px;
  color: #fff !important;
  fill: #fff !important;
  stroke: #fff !important;
  border-radius: 50%;
  clip-path: circle();

  @media (max-width: 576px) {
    padding: 30px;
  }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff5f23;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
